<div class="multi-colored-bg">
  <div class="blur py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card px-5">
            <div class='text-center'>
              <div class='mt-5'>
                <img class='bank-img' src="../../../../../assets/images/iphone.svg" alt="">
              </div>
              <div class='mt-5'>
                <div class='fw-bold fs-5'>Bank Name</div>
                <div class='mt-2 mat-text-grey fs-6'>Sterling Bank</div>
              </div>
              <div class='mt-5'>
                <div class='fw-bold fs-5'>Account Number</div>
                <div class='mt-2 mat-text-grey fs-6'>0048581093</div>
              </div>
              <div class='mt-5 mb-3'>
                <mat-form-field appearance="outline" class='w-50' [floatLabel]='"always"'>
                  <mat-label class='fs-5 futura-bold'>Pick your bank</mat-label>
                  <mat-select matInput requireds>
                    <mat-option value="gtb"><img class="me-1" src="../../../../../assets/images/gtbank.svg"> GTB</mat-option>
                    <mat-option value="zenith">Zenith</mat-option>
                    <mat-option value="uba">UBA</mat-option>
                    <mat-option value="sterling">Sterling</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="mb-5 mt-3">
              <img class='w-100' src="../../../../../assets/images/payments-breadcrumbs.svg" alt="">
            </div>
            <div class="my-4 text-center">
              <button mat-button class='mat-button-primary mx-auto py-3'>Confirm Transfer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
