.info-card {
  background: #FAFAFA;
  border-radius: 12px;
}

.bi-key {
  color: #8D9091;
  font-size: 12px;
}

.bi-value {
  color: #333333;
  font-size: 12px;
}

.add-billing-button {
  background: #2F626E !important;
}
