<div class="mt-5">
  <div class="row">
    <div class="fw-light fs-4">Change Password</div>
    <form [formGroup]="changePasswordForm">
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <div class='text-center'>
            <mat-form-field appearance="outline" class="mb-3 password-form">
              <mat-label>New Password</mat-label>
              <input matInput placeholder="New Password" type='password' formControlName="newPassword">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class='text-center'>
            <mat-form-field appearance="outline" class="mb-3 password-form" [ngClass]="{'mat-form-field-invalid': changePasswordForm.controls['confirmPassword'].value !== changePasswordForm.controls['newPassword'].value}">
              <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="Confirm Password" type='password' formControlName="confirmPassword">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button mat-flat-button class='mat-button-primary' [disabled]="changePasswordForm.invalid || changePasswordForm.controls['confirmPassword'].value !== changePasswordForm.controls['newPassword'].value" (click)='send()'>
          Send
          <div class="text-center ms-3 mat-text-secondary d-inline-block" *ngIf="loading">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
