.transaction-body {
  border-bottom: 1px solid #EFEFEF;
}

.download-btn {
  background: rgba(98, 198, 183, 0.15);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
}

.text-8 {
  font-size: 8px;
}

.text-12 {
  font-size: 12px;
}
