<div class="mt-4">
  <mat-card class="card-shadow">
    <div class="row">
      <div class="col-12">
        <div class="mb-5 transaction-header">
          <span>Transactions</span>
          <a routerLink="/main/wallet/view-all-transactions" mat-flat-button class="float-end mat-button-primary">
            View All
          </a>
        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
        <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
        </div>

        <div class="d-flex">
          <div class="d-flex flex-column mx-2">
            <div class="text-color-grey">₦1,520</div>
            <div class="text-color-grey text-8 ">8 Nov, 2021</div>
          </div>
          <div class="d-flex flex-column">
            <div class="text-color-grey">Delivered</div>
            <div class="download-btn text-color-light-green text-8">Download</div>
          </div>
        </div>

      </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
        <div class="d-flex transaction-body mt-2 p-3">
          <div class="me-auto">
            <span class="d-flex flex-column">
              <div>KMD000001</div>
              <div class="text-color-grey text-12">#IN-415646</div>
            </span>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column mx-2">
              <div class="text-color-grey">₦1,520</div>
              <div class="text-color-grey text-8 ">8 Nov, 2021</div>
            </div>
            <div class="d-flex flex-column">
              <div class="text-color-grey">Delivered</div>
              <div class="download-btn text-color-light-green text-8">Download</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </mat-card>
</div>
