<mat-card class="card-shadow">
  <div class="row">
    <div class="title fw-bold fs-3">Account Settings</div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-company-information></app-company-information>
    </div>
  </div>

  <div>
    <svg width="auto" height="2" viewBox="0 0 541 2" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 1H540" stroke="#62C6B7" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="6 6"/>
    </svg>
  </div>

  <div class="row">
    <app-user-and-role></app-user-and-role>
  </div>
</mat-card>
