<div class="d-flex justify-content-between container main me-0 pe-0">
  <div class='text-center mt-5 me-5'>
    <form class='mt-5' [formGroup]="loginForm">
      <h1 class='fw-bold mt-5'>
        Login
      </h1>

      <mat-form-field appearance="outline" class='col-10 mt-4'>
        <mat-label>Email</mat-label>
        <input type="email" matInput required formControlName='email' [pattern]="emailRegex">
      </mat-form-field>

      <mat-form-field appearance="outline" class='col-10 mt-2'>
        <mat-label>Password</mat-label>
        <input type="password" matInput required formControlName='password'>
      </mat-form-field>

      <button mat-flat-button class='mat-button-primary mt-2 px-5' (click)="login()" type="button" [disabled]='loginForm.invalid'>
        Login
        <div class="text-center ms-3 mat-text-secondary d-inline-block" *ngIf="loading">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </button>
    </form>
    <div class="mt-4 fw-bold">
      <span class='mat-text-primary pointer' routerLink='/auth/forgot-password'>Forgot Password</span>
    </div>
    <div class="mt-4 fw-bold">
        Need an account? <span class='mat-text-primary pointer' routerLink='/auth/signup'>Signup here</span>
    </div>
  </div>
  <div class='position-relative image'>
    <img src="assets/images/logo-white.svg" alt="" class='position-absolute end-0 me-3 top-0'>
      <img src="assets/images/auth/login.svg" alt="">
  </div>
</div>
