<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center mb-4">
        <span class="fs-3 fw-bold">Invoice No: </span> <span class="fs-5">#IN-415646</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <div class="text-color-grey me-2">Tracking ID</div>
        <div class="">KSD0000031</div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Category</div>
        <div class="">Food</div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Type</div>
        <div class="">Domino's Pizza</div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Quantity</div>
        <div class="">13</div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Pick-Up</div>
        <div class="">10 Wole Ogunjimi Street, Ikeja</div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Drop-Off</div>
        <div class="">17 Adeola Odeku Street, Lagos</div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Delivery Type</div>
        <div class="">Same Day Delivery</div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Discount</div>
        <div class="">Yes</div>
      </div>

      <div class="my-4 dotted-border"></div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Delivery Fee</div>
        <div class="">₦1500</div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="text-color-grey me-2">Tax</div>
        <div class="">₦20</div>
      </div>

      <div class="total-section mt-5">
        <div class="d-flex justify-content-between">
          <div class="text-color-grey me-2 fs-3">Total</div>
          <div class="">₦1520</div>
        </div>

        <div class="text-center">
          <span class="gray mx-2">paid</span> <span class="green">Delivered</span>
        </div>
      </div>

      <div class="button-section mt-4">
        <div class='text-center'>
          <button mat-flat-button class='mat-button-primary mx-2'>
            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.125 8.875V11.375C13.125 11.7065 12.9933 12.0245 12.7589 12.2589C12.5245 12.4933 12.2065 12.625 11.875 12.625H3.125C2.79348 12.625 2.47554 12.4933 2.24112 12.2589C2.0067 12.0245 1.875 11.7065 1.875 11.375V8.875" stroke="#2F626E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M4.375 5.75L7.5 8.875L10.625 5.75" stroke="#2F626E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.5 8.875V1.375" stroke="#2F626E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
          <button mat-flat-button class='mat-button-primary'>Print Invoice</button>
        </div>
      </div>
    </div>
  </div>
</div>
