<div class="container-fluid">
  <footer class="footer row justify-content-between align-items-center py-3 border-top">
    <a href="/" class="col-md-4 col-sm-12 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="assets/images/tracnine_white_icon.svg" alt="Tracnine white">
    </a>

    <p class="col-md-4 col-sm-12 text-center">© 2021 Conclase. All rights reserved</p>

    <ul class="nav col-md-4 col-sm-12 list-unstyled d-flex justify-content-center">
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="https://www.instagram.com/conclasehq/">
          <img src="assets/images/instagram.svg" alt="instagram">
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="#">
          <img src="assets/images/dribbble.svg" alt="dribbble">
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="https://twitter.com/conclasehq">
          <img src="assets/images/twitter.svg" alt="twitter">
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="#">
          <img src="assets/images/youtube.svg" alt="youtube">
        </a>
      </li>
    </ul>
  </footer>
</div>
