.viewAll {
    cursor: pointer;
}

.green {
    color: #007C0C !important;
    background-color: #DCFDE5;
}

.red {
    color: #E48200 !important;
    background-color: #FDEFDC;
}

.blue {
    color: #0025E5 !important;
    background-color: #DCE5FD;
}